/* vertical navbar on the left */

#navbar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2f2f2f;
  overflow-x: hidden;
  padding-top: 20px;
  padding-inline-start: 0;
}

#navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffa500;
  display: block;
}

#navbar a:hover {
  color: #f1f1f1;
}

#main {
  margin-left: 200px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  #navbar {padding-top: 15px;}
  #navbar a {font-size: 18px;}
}

/* Remove the dots in the list elements of the navbar */

#navbar li {
    list-style-type: none;
}

#navbar ul {
    padding-inline-start: 0;
}
