{:deps {ftlm/ftlm {:local/root "."}}
 :blog
 {:blog-title "Faster-than-Light memes"
  :blog-author "Benjamin Schwerdtner"
  :out-dir "public/"
  :blog-root "https://faster-than-light-memes.xyz/"}
 :tasks {:init
         (def url (-> (read-string (slurp "bb.edn")) :blog :blog-root))
         build
         (do
           (shell "emacs" "-Q" "--script" "build-site.el")
           (shell "bb" "src/ftlmemes/gen_pages.clj"))
         serve-local
         {:depends [build]
          :task
          (let [port 8081]
            (shell "http-server" ":port" port ":dir" "./public")
            (shell "xdg-open" "http://localhost:8081/"))}
         serve-quiz
         {:task
          (let [port 8081]
            (shell "http-server" ":port" port ":dir" "./src/ftlmemes/clojure_function_quiz/")
            (shell {:dir "./scittle-server/"} "bb" "browser-nrepl"))}
         serve-flipcoin
         {:task
          (let [port 8081]
            (shell "http-server" ":port" port ":dir" "./src/ftlmemes/flipcoin/")
            (shell {:dir "./scittle-server/"} "bb" "browser-nrepl"))}
         linode-deploy
         (shell "./publish.sh")
         scittle-server
         (shell {:dir "./scittle-server/"} "bb" "browser-nrepl")
         build-deploy
         {:depends [build linode-deploy]}
         browse-qr-code
         (shell
          "xdg-open"
          (str "https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=" url))}}
