{:paths ["src" "resources"],
 :deps
 {selmer/selmer #:mvn{:version "1.12.50"},
  org.clojure/clojure #:mvn{:version "1.11.1"},
  ftlm/ftlm #:local{:root "."},
  org.clojure/tools.logging #:mvn{:version "1.1.0"},
  insn/insn #:mvn{:version "0.5.2"},
  org.clojure/tools.cli #:mvn{:version "1.0.214"},
  org.babashka/babashka.impl.reify #:mvn{:version "0.1.5"},
  rewrite-clj/rewrite-clj #:mvn{:version "1.1.45"},
  babashka/babashka.core
  #:git{:url "https://github.com/babashka/babashka.core",
        :sha "52a6037bd4b632bffffb04394fb4efd0cdab6b1e"},
  hiccup/hiccup #:mvn{:version "2.0.0-alpha2"},
  org.babashka/cli #:mvn{:version "0.6.44"},
  org.clojure/data.xml #:mvn{:version "0.2.0-alpha8"},
  org.clojure/data.csv #:mvn{:version "1.0.0"},
  com.taoensso/timbre #:mvn{:version "6.0.1"},
  com.cognitect/transit-clj #:mvn{:version "1.0.329"},
  babashka/babashka.curl #:mvn{:version "0.1.2"},
  clj-commons/clj-yaml #:mvn{:version "0.7.169"},
  org.clojure/core.rrb-vector #:mvn{:version "0.1.2"},
  org.babashka/sci.impl.types #:mvn{:version "0.0.2"},
  cheshire/cheshire #:mvn{:version "5.11.0"},
  babashka/process #:mvn{:version "0.4.15"},
  org.clojure/core.match #:mvn{:version "1.0.0"},
  org.babashka/http-client #:mvn{:version "0.0.2"},
  org.clojure/test.check #:mvn{:version "1.1.1"},
  babashka/fs #:mvn{:version "0.2.14"},
  org.clojure/data.priority-map #:mvn{:version "1.1.0"},
  nrepl/bencode #:mvn{:version "1.1.0"},
  org.clojure/core.async #:mvn{:version "1.6.673"},
  http-kit/http-kit #:mvn{:version "2.6.0-RC1"}}}
